<div class="card text-center">
  <div class="card-header">
    <%= universidad.nombre%>
  </div>
  <div class="card-body">
    <div class="fa fa-graduation-cap"></div>
    <h5 class="card-title"><%= devuelveGrados(universidad)%></h5>
    <p class="card-text">Grados registrados</p>
    <a href="<%= universidad.url %>" class="btn btn-primary">Vista Web</a>
  </div>
  <div class="card-footer text-muted">
    <a href="#" class="btn btn-primary">Scrapping</a>
    <a href="#" class="btn btn-primary">Borrar Grados(con asignaturas)</a>
  </div>
</div>